.wp-block-create-block-jorgemon-gallery-layout {
  padding: 10px;
}

.jorgemon-gallery-layout-editor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 10px;
  justify-content: center;
}

.jorgemon-gallery-layout-editor-cell {
  width: 150px;
  height: 150px;
  background-color: #f0f0f0;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.jorgemon-gallery-layout-editor-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
