.wp-block-create-block-jorgemon-gallery-layout {
  padding: 2px;
}

.jorgemon-gallery-layout-frontend {
  .jorgemon-gallery-layout-row {
    display: flex;
    justify-content: flex-start;
    gap: var(--jorgemon-gallery-layout-gap);

    &:not(:last-child) {
      margin-bottom: var(--jorgemon-gallery-layout-gap);
    }
  }

  .jorgemon-gallery-layout-image {
    object-fit: cover;
    object-position: center;
    display: block;
  }
}
